<section >
    
    	<div class="row vh-100 mt-4">	    		
    		<div class="col-md-10 col-lg-10 col-sm-10 mx-auto"  >
    		    <div class="card profile-card-3">
    		        <div class="background-block">
    		            <img src="https://images.pexels.com/photos/459225/pexels-photo-459225.jpeg?auto=compress&cs=tinysrgb&h=650&w=940" alt="profile-sample1" class="background"/>
    		        </div>
    		        <div class="profile-thumb-block">
    		            <img src="https://randomuser.me/api/portraits/men/41.jpg" alt="profile-image" class="profile"/>
    		        </div>
    		        <div class="card-content">
                    <h2>Akul Sharma<small>Hi there, I am a full stack developer.</small></h2>
                    <div class="icon-block"><a href="https://github.com/akul-sharma"><i class="fa fa-github"></i></a><a href="https://akulsharma-portfolio.netlify.app/"> <i class="fa fa-briefcase"></i></a><a href="https://leetcode.com/akul_sharma/"> <i class="fa fa-code"></i></a></div>
                    </div>
                </div>
    		</div>
    		
    		
    	</div>

</section>