<nav class="navbar bg-dark border-bottom border-body p-4" data-bs-theme="dark">
</nav>
<section class="vh-100 gradient-custom">
    <div class="container py-5 h-50">
      <div class="row d-flex justify-content-center align-items-center h-50">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card bg-dark text-white" style="border-radius: 1rem;">
            <div class="card-body p-4 text-center">
  
              <div class="mb-md-4 mt-md-2 ">
  
                <h2 class="fw-bold mb-2 text-uppercase">Login</h2>
                <p class="text-white-50 mb-4">Please enter your login and password!</p>
             
  
              <form [formGroup]="formValue">
  
                <div class="form-outline form-white mb-4">
                  <input type="email" id="typeEmailX" formControlName="email" class="form-control form-control-lg" />
                  <label class="form-label" for="typeEmailX">Email</label>
                  <div style="color: red;" *ngIf="formValue.controls['email'].dirty && formValue.hasError('required','email')">Email is empty</div>
                  <div style="color: red;" *ngIf="formValue.controls['email'].dirty && formValue.hasError('email','email')">Invalid Email</div>
                </div>
  
                <div class="form-outline form-white mb-3">
                  <input type="password" id="typePasswordX" formControlName="password" class="form-control form-control-lg" />
                  <label class="form-label" for="typePasswordX">Password</label>
                  <div  style="color: red;" *ngIf="formValue.controls['password'].dirty && formValue.hasError('required','password')">Password is empty</div>
                </div>
  
              </form>
  
                <div>
                  <button [disabled]="!formValue.valid" class="btn btn-outline-light btn-lg px-5" type="submit" (click)="login()" >Login</button>
                </div>
                <div class="mt-2" style="float: right;">
                <a routerLink="UserSignUp" class="text-white">Not Registered Yet ? Sign Up</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

